<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form" method="post">
    <label>Units Held :
        <input type="number" placeholder="Units Held" name="units" required>
    </label>
    <label>Invested Amount :
        <input type="number" placeholder="Invested Amount" name="amount" required>
    </label>
    <label>Scheme Code :
        <input type="number" placeholder="Scheme Code" name="code" required>
    </label>
    <input type="submit" value="Send">
</form>

</body>
</html>
